body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: arial, sans-serif;
  margin: 0;
  height: 100vh;
  background: hsl(0, 0%, 95%);
}

#calculator {
  background: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

#display {
  width: 100%;
  height: 90px;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

button {
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  background-color: hsl(0, 0%, 30%);
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}

.operator {
  background-color: hsl(35, 100%, 55%);
}

.operator:hover {
  background-color: hsl(35, 100%, 65%);
}

.operator:active {
  background-color: hsl(35, 100%, 75%);
}
